In [1]:
#question 1

In [2]:
a= "kunal"

In [3]:
type("a")

str

In [4]:
b=[1,2,3,4,5,6]

In [5]:
type(b)

list

In [6]:
aa=335.25

In [7]:
type(aa)

float

In [8]:
bb=(1,2,3,4,"kuna",True,"5+5j")

In [9]:
type(bb)

tuple

In [10]:
#question 2

In [11]:

"""
(1)var1="" - str
(ii) var2=[ds,ml,python] - str
(iii) var3= ['ds','ml','python'] - list
(iv) var4 =1 - int
"""

'\n(1)var1="" - str\n(ii) var2=[ds,ml,python] - str\n(iii) var3= [\'ds\',\'ml\',\'python\'] - list\n(iv) var4 =1 - int\n'

In [12]:
# question 3

In [13]:
#(i) - / - use for divide eample
a=30
b=3
print(a/b)

10.0

In [14]:
#(ii) - % - use for modulus eample
a=50
b=5
print(a%b)

0

In [15]:
#(iii) //-- this is the floor division operator
a= 500
b=6655
print(a//b)

0

In [16]:
#(iv)- ** -- use for multiply
a=54
b=354
print(a**b)

18509341885165575632687489704402239017170156129315974900115354527745696977600275023033083702693548864117226421438464384082731972392217747461896953531869352740640798705044413654695983295116874979808104908567357426314542932622917326346735603283090166094564790831012097809959284795677800429979582021892958066107806500960763032349683923549550906636780615587251623828498399765846869661600041324729304836869654138359601644375435993144804035783290586919682081232499055105583948576262384395649904479265577757411398401210853996427144788505764215660989303462677711758646441478303075173946025021934885440726412942376809005056

In [17]:
# question 4 
a=[21,54,67,0.5,386510,"hello","hiii ","yess",True,5+7j,"jkjkjk"]

In [18]:

for i in a:
    print(i)

21
54
67
0.5
386510
hello
hiii
yess
True
(5+7j)
jkjkjk

In [24]:
l=[]
for i in a:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'str'>

In [ ]:
##Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [44]:
a=[1,2,3,4,5,6,78,8,9,11,12,33,4,45,66,54,658,548,544848,454,81,45,4,5442,5456]

In [45]:
a.sort()

In [46]:
a

[1,
 2,
 3,
 4,
 4,
 4,
 5,
 6,
 8,
 9,
 11,
 12,
 33,
 45,
 45,
 54,
 66,
 78,
 81,
 454,
 548,
 658,
 5442,
 5456,
 544848]

In [47]:
len(a)

25

In [52]:
for i in a :
    if (i%3==0): print(i)

3
6
9
12
33
45
45
54
66
78
81
5442
544848

In [53]:
#question 7

In [54]:
"""Mutable Objects                                      
-A mutable object can be changed after it is created	
Examples : List, Set, Dictionary
immutable object :
- a immutable object cannot be changed after itis created
Examples : tuples, int,float."""

'Mutable Objects                                      \n-A mutable object can be changed after it is created\t\nExamples : List, Set, Dictionary\nimmutable object :\n- a immutable object cannot be changed after itis created\nExamples : tuples, int,float.'